.custommodal {
    background-color: rgba(163, 137, 106, 0.849);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    }
    .custommodal.open {
    display: block;
    }
    
    .custommodal .position-center {
    position: fixed;
    /* background-color: #fff; */
    width: 600px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .custommodal .position-center i {
    font-size: 150px;
    }
    
    